body{
    background-image: url('https://images.unsplash.com/photo-1673364432867-34b2e6722181?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');

    background-size: 100%;
    background-repeat: no-repeat;
}